- if flash[:notice]
  .notice= flash[:notice]

%h1 Listing Todo Lists
= link_to 'New Todo List', new_list_path

.todo-list-container
  - if @lists.count <= 0
    %h2
      There's no todo lists - 
      = link_to 'Create one here! :D', new_list_path
  - else 
    - @lists.each do |list|
      .list-container
        .list-info-cont
          %h2.title-text= list.title
          .spacer
          .list-info-button-cont
            .list-info-button.button
              =link_to icon('fas', 'plus'), new_list_todo_path(list)
            .list-info-button.button
              =link_to icon('fas', 'trash'), list_path(list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' }
        .todo-outer-cont
          -# I want the completed todos to fall to the bottom of the todo list. I learned an interesting thing about sorting boolean values in Ruby.
          - list.todos.sort_by { |todo| todo.completed? ? 1 : 0 }.each do |todo|
            .todo-container
              .todo-info-cont
                %h3.todo-title.title-text= todo.title 
                %span.todo-description= todo.description
              .spacer
              .todo-buttons-cont
                -# ++Q will change to check box later.
                .todo-complete.button
                  =link_to icon('fas', 'check'), complete_todo_path(todo), method: :put

                .todo-delete.button
                  =link_to icon('fas', 'trash'), todo_path(todo), method: :delete, data: { confirm: 'Are you sure you want to delete this todo?' }