%h1 New Todo List

= form_with scope: :list, url: lists_path, local: true do |form|
  - if @list.errors.any?
    #error_explanation
      %h2
        = pluralize(@list.errors.count, "error") 
        prohibited this todo list from being saved:
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg
          
  %p
    = form.label :title
    %br/
    = form.text_field :title

  %p
    = form.submit

= link_to 'Back', lists_index_path