%h1 New Todo

= form_with(model: [ @list, @list.todos.build ], local: true) do |form|
  - if @todo.errors.any?
    #error_explanation
      %h2
        = pluralize(@todo.errors.count, "error") 
        prohibited this todo from being saved:
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg
  
  %p
    = form.label :title
    %br/
    = form.text_field :title

  %p
    = form.label :description
    %br/
    = form.text_field :description

  %p
    = form.label :completed
    %br/
    = form.check_box :completed

  %p
    = form.submit

= link_to 'Back', lists_index_path